<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SNPipeline.VCF2AB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SNPipeline.abg2bin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>SNPipeline.abgExcl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>SNPipeline.mergingAB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SNPipeline.pooledAB2VCF41.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SNPipeline.trimDown2Map.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SNPipeline.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>abg2FImpute.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>abg2M.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>abg2findhap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>bout2abg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>bout2haplotype.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>fhout2fiout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>fhout2hapview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>finalReportReformer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>fout2abg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>fout2haplotype.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>gReplace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ggrep.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>mapUniter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>vcf2haplotype.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B00B9A8189AF62700B34C77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B37B0FC187C87EE008B6F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B39C9BE1DFCB97500EFBFB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B39C9CE1DFCBAA900EFBFB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B39C9DD1DFCBB3700EFBFB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B39C9F01DFCBCC500EFBFB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B39C9FD1DFCBCFB00EFBFB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B39CA0A1DFCBE8A00EFBFB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B39CA1B1DFCBFC800EFBFB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B39CA2B1DFCC2E000EFBFB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B39CA381DFCC4C300EFBFB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B39CA531DFCC89400EFBFB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B39CA621DFCC97E00EFBFB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B44E1C718AA9490000D16FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B71AFBC183EB27100C285E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B71AFDA183EB38600C285E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B72C0AC18C5157F00CD599B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B72C0B918C51A0000CD599B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B8A26AC18BE9471007884B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BA4EAB91D63A664005020C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BBF893D1D63A6CC00139818</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
